<header id="header" class="header">
    <div class="container">
        <h1 class="logo pull-left">  
        <img class="logo-title" src="assets/img/kc_logo_header.png" alt="kc_logo_header.png" fetchpriority="high">    
        </h1><!--//logo-->
        <nav id="main-nav" class="main-nav navbar-right" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button><!--//nav-toggle-->
        </div><!--//navbar-header-->
        <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul class="nav navbar-nav"> 
            <li class="nav-item"><a class="scrollto" href="index.html">Home</a></li> 
            <li class="nav-item last"><a class="scrollto" href="donate.html">Donate</a></li>   
            </ul><!--//nav-->
        </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->
    </div> <!--//container--> 
  </header><!--//header-->